
h1 { font-family: Helvetica; font-weight: bold; }

path { stroke-width: 3;fill: none;}
.axis {shape-rendering: crispEdges;}
.x.axis line {stroke: lightgrey;}
.x.axis .minor {stroke-opacity: .5;}
.x.axis path {display: none;}
.y.axis line, .y.axis path {fill: none; stroke-width: 1; stroke: #000;}

.centered { text-align: center; }
.hidden { display: none !important; }
.fixed-width { width: 50%; }
.page-title { margin-bottom: 50px; }
.table { margin-top: 60px; }

#auth-type-identifier { margin-bottom: 30px; }
#login-form { width: 500px; }
.login-container {
  display: flex;
  justify-content: center;
}

.dashboard-container {
  width: 100vw;
  height: 100vh;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.salesTimeline {
  width: 600px;
  flex-grow: 1;
}
  
.popular-toppings {
  min-width: 350px;
  flex-grow: 0;
  margin: 0 20px;
}
