// Variables

$pw: #fff;
$green1: #56B145;
$green2: #6ECB5D;
$green3: #DBF6D6;
$gray0: #313030;
$gray1: #494747;
$gray2: #615f5f;
$gray3: #807f7f;
$gray4: #a09f9e;
$gray5: #bfbfbe;
$gray6: #dee0e3;
$gray7: #ebebed;
$gray8: #f5f6f7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  clear:both;
}

.login-form{
  padding:20px;
}

body {
  font-family: sans-serif;
  color: $gray1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > br {
  display: none;
}

.apps-home{
  padding:20px;

  .apps-home-applist{
    list-style:none;
    width:200px;
  }

}

.apps-home-applistitem{
  vertical-align: middle;
  padding:10px;
  border:1px solid $gray5;
  &:nth-child(n+2) {
    margin-top: -1px;
  }

  .applistitem-links {
    float:right;
    .applistitem-name {
      font-size:1.2em;
    }

    .applistitem-edit {
      padding-right:5px;
      font-size:.8em;
    }
    .applistitem-remove {
      cursor:pointer;
      font-weight:bold;
      font-size:.8em;
    }
  }
}

.active {
  font-weight:bold;
}

.apphome{
  padding:20px;
  .title{
    font-size:2em;
    font-weight:bold;
  }
  .apptabs{
    margin-top:20px;
    .tab{
      padding:8px;
      margin-right:5px;
      border-left:1px solid $gray6;
      border-right:1px solid $gray6;
      border-top:1px solid $gray6;
    }

  }
 .svcs-list{
   margin:10px;
   width:300px;
   .svc-list-item{
     vertical-align: middle;
     padding:10px;
     border:1px solid $gray5;
     /*j.
       <span>{this.props.serviceName} ({this.props.service.type})</span>
       <span onClick={this.remove}>&times;</span>
     */
     &:nth-child(n+2) {
       margin-top: -1px;
     }
   }
    .svc-list-item-name{
      display:inline-block;
      float:left;
    }
    .svc-list-item-links{
      float:right;
      .svc-list-item-remove{
        cursor:pointer;
        font-weight:bold;
      }
    }
 }
}
.svcs-tab{
  margin-top:10px;
  .svc-add-button{
    padding:5px;
  }
}

.edit-auth{
  .auth-provider{
    &-name{
      font-weight:bold;
      margin-bottom:5px;
    }
    &-input{
      
    }
    button{
      padding:5px;
    }
    width:300px;
    margin-top:8px;
    margin-bottom:8px;
    padding:5px;
    border:1px solid $gray5;
    &:nth-child(n+2) {
      margin-top: -1px;
    }
  }
}

.edit-variables{
  margin-top: 20px;
  .variable-add{
    margin-bottom:30px;
  }
  .edit-config-text{
    width:200px;
    min-height:100px;
  }
  .variable-item{
    width:200px;
    margin-top:30px;
    .var-item-text{
      height:100px;
    }
    .variable-item-actions{
      float:right;
    }
  }
}

.service-edit{
  margin-top:20px;
  margin-left:20px;
  .service-name{
    font-weight:bold;
    font-size:1.3em;
    margin-bottom:10px;
  }
  .service-edit-menu{
    width:150px;
    float:left;
    .service-edit-menu-item{
      padding:5px;
      border:1px solid $gray5;
      &:nth-child(n+2) {
        margin-top: -1px;
      }
    }
  }


  .service-edit-content{
    padding-left:50px;
    float:left;

    .edit-config{
      .edit-config-text{
        width:200px;
        min-height:100px;
      }
    }

    .edit-rules {
      .rules-list{
        .rule-item{
          margin-top:10px;
          .rule-item-actions{
            float:right;
            padding: 10px;
            .rule-item-delete{
              cursor:pointer;
              font-weight:bold;
            }
          }
          .rule-item-text{
            float:left;
            width:300px;
            min-height:100px;
          }
        }
      }
    }
  }
}
.error{
  background: red;
  color:white;
}
/*
<div className="apphome">
<h3>{this.state.app ? this.state.app.name : null}</h3>
<div className="apptabs">
<span className="tab apptabs-services">Services</span>
<span className="tab apptabs-auth">Authentication</span>
</div>
{this.props.children ? React.cloneElement(this.props.children, { app: this.state.app }) : null}
</div>
 */
