Pods/Pods.xcodeproj/xcuserdata/ofir.xcuserdatad/xcschemes/Bolts.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ofir.xcuserdatad/xcschemes/Cosmos.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ofir.xcuserdatad/xcschemes/FBSDKCoreKit.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ofir.xcuserdatad/xcschemes/FBSDKLoginKit.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ofir.xcuserdatad/xcschemes/Pods-SoLoMoSample.xcscheme
